main {
	
	font-family: "Times New Roman" ;
}

h1 {
	text-align: center;
}
body {
	background-color: black;
	background-image: url('Photos/Cat.jpg');
}
div {
	width: 600px;
	margin:auto;
	background-color: grey;
	
}
#LeftImage {
	position: left;
	left: 30px;
	margin: 3px;
	width: 200px;
	height: 100px;
}

#RightImage {
	position: right;
	right: 30px;
	margin: 3px;
	width: 200px;
	height: 100px;
}

